!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= current_page.data.title || "Middleman Semantic UI"
    = stylesheet_link_tag 'style'
  %body{:class => page_classes}
    = yield
    = javascript_include_tag 'vendor/jquery.min', 'vendor/semantic-ui', 'app'